/*styles*/


.title:hover{
	text-decoration: none;
}

.title{
	text-transform: uppercase;
}

body{
	background-color: white;
}

.navbar-brand{
	height: 50px;
}

.logo{
	max-width: 100%;
	max-height: 100%;
}

li a.navbutton.all:hover, li.active a.navbutton.all, li.active a.navbutton.all:hover {
	color: #333399;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.finance:hover, li.active a.navbutton.finance, li.active a.navbutton.finance:hover{
	color:#00b6f1;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.education:hover, li.active a.navbutton.education, li.active a.navbutton.education:hover {
	color:#2eb394;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.technology:hover, li.active a.navbutton.technology, li.active a.navbutton.technology:hover {
	color:#ed125f;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.instructables:hover, li.active a.navbutton.instructables, li.active a.navbutton.instructables:hover {
	color:#d1ad7d;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.aboutUs:hover, li.active a.navbutton.aboutUs, li.active a.navbutton.aboutUs:hover {
	color:#333399;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.youth:hover, li.active a.navbutton.youth, li.active a.navbutton.youth:hover {
	color:#333399;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.student:hover, li.active a.navbutton.student, li.active a.navbutton.student:hover {
	color:#333399;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.aboutUs:hover, li.active a.navbutton.aboutUs, li.active a.navbutton.aboutUs:hover {
	color:#333399;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.youth:hover, li.active a.navbutton.youth, li.active a.navbutton.youth:hover {
	color:#62A321;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.student:hover, li.active a.navbutton.student, li.active a.navbutton.student:hover {
	color:#CC0000;
	cursor: pointer;
	background-color: #fff;
}

.project-thumbnail {
	height: 200px;	
	width:133px;
	display: inline;
	margin: 0 12px 12px 0;
	padding: 0;
	overflow: hidden;
	float: left;
	left:10px !important;
	top:10px !important;
}

.project-thumbnail img {
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

html, body{
	height:100%;
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 20px;    /* height of footer */
}

footer{
    height: 20px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top:solid;
    border-top-width:2px;
    border-color:#eeeeee;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.fancybox-close {
    top: 0;
    right: 0;
}

/*flippers*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	height: 200px;
	width:133px;
	margin:0 0 10px 10px;
	display:inline-block;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}


.front, .back {
	height: 200px;
	width: 133px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0px;
	left: 0px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
}

#test{
	background-color: #ffd685;
	height:200px;
	width: 133px;
	font-size: 200%;
	line-height: 1.3em;
	padding:10px 10px 10px 10px;
	text-decoration: none;
	cursor: pointer;
}

a.fancybox{
	text-decoration: none;
	z-index: 10;
	width:100%;
	height: 100%;
	position: absolute;
}

.flip-container .flipper .back div{
	left:0px !important;
}


/*fancybox fix*/
.fancybox-prev {
    visibility: hidden;
}

.fancybox-next {
    visibility: hidden;
}