/*styles*/

.title:hover{
	text-decoration: none;
}

.title{
	text-transform: uppercase;
}

body{
	background-color: white;
}

.logo{
	max-width: 100%;
	max-height: 100%;
}


li a.navbutton.all:hover, li.active a.navbutton.all, li.active a.navbutton.all:hover {
	color: #333399;
	cursor: pointer;
	background-color: #fff;
}



li a.navbutton.finance:hover, li.active a.navbutton.finance, li.active a.navbutton.finance:hover{
	color:#00b6f1;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.education:hover, li.active a.navbutton.education, li.active a.navbutton.education:hover {
	color:#2eb394;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.technology:hover, li.active a.navbutton.technology, li.active a.navbutton.technology:hover {
	color:#ed125f;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.instructables:hover, li.active a.navbutton.instructables, li.active a.navbutton.instructables:hover {
	color:#d1ad7d;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.aboutUs:hover, li.active a.navbutton.aboutUs, li.active a.navbutton.aboutUs:hover {
	color:#333399;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.youth:hover, li.active a.navbutton.youth, li.active a.navbutton.youth:hover {
	color:#333399;
	cursor: pointer;
	background-color: #fff;
}

li a.navbutton.student:hover, li.active a.navbutton.student, li.active a.navbutton.student:hover {
	color:#333399;
	cursor: pointer;
	background-color: #fff;
}

.project-thumbnail {
	height: 200px;	
	display: inline-block;
	margin: 0 12px 12px 0;
	padding: 0;
	overflow: hidden;
	float: left;
}

.project-thumbnail img {
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

html, body{
	height:100%;
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 100px;    /* height of footer */
}

footer{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top:solid;
    border-top-width:2px;
    border-color:#eeeeee;
}

.navbar-brand{
	height: 50px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


